{% extends 'ServiceApp/base.html' %}
{% load static %}
{% block title %}
    Новый сервис
{% endblock %}

{% block content %}
    <div class="form_create text">
        <h2>Создать новый сервис</h2>
        <form method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.ServiceName }}
            <label for="id_ServiceFile" class="add_file_bottom" style="">Добавить картинку</label>
            {{ form.ServiceFile }}
            <button onclick="select_file()" type="submit" class="button">Добавить сервис</button>
            <span style="color: red">&nbsp</span>
        </form>
    </div>
    <script src="{% static 'js/create_service.js' %}"></script>
{% endblock %}