{% extends 'ServiceApp/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <h4 style="color: green">{{ message }}</h4>
        {% endfor %}
    {% endif %}
    <div class="category">

        {% for el in customer_order %}
            <div class="product">
                    <p>Идентификатор: № {{ el.CustomerId}}</p>
                    <p>Имя: {{ el.CustomerName }}</p>
                    <p>Телефон: {{ el.CustomerPhone }}</p>
                    <p>Автомобиль: {{ el.CustomerCar }}</p>
                    <p>Дата добавления: {{ el.time_create }}</p>
                    <p>Дата редактирования: {{ el.time_update }}</p>
                    <div class="category">
                        <form action="/{{el.CustomerId}}/delete" method="POST" class="form">
                            {% csrf_token %}
                            <button type="submit" class="button_delete">Удалить</button>
                        </form>
                        <span class="form">
                            <a href="/{{el.CustomerId}}/update" class="button_a">
                                <p>Редактировать</p>
                            </a>
                        </span>

                    </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
