{% extends 'ServiceApp/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <h4 style="color: green">{{ message }}</h4>
        {% endfor %}
    {% endif %}
    <div class="category">

        {% if service %}
            {% for el in service %}
                <div class="image animate__animated animate__flipInY">
                    <a href="/{{el.ServiceId}}/update" class="image_a">
                        <img src="static/image/{{ el.ServiceFile }}" alt="Картинка">
                        <p class="card_text">{{ el.ServiceName }}</p>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <h1>Данных услуг нет</h1>
        {% endif %}
    </div>
{% endblock %}