{% extends 'ServiceApp/base.html' %}

{% block title %}
    Редактировать заявку
{% endblock %}

{% block content %}
    <div class="form_create text">
        {% if messages %}
            {% for message in messages %}
                <h4 style="color: green">{{ message }}</h4>
            {% endfor %}
        {% endif %}
        <h1>Редактировать заявку </h1>
        <form method="post" class="form">
            {% csrf_token %}
            {{ form.CustomerName }}
            {{ form.CustomerPhone }}
            {{ form.CustomerCar }}
            <button type="submit" class="button">Редактировать</button>
        </form>
    </div>
{% endblock %}