{% extends 'ServiceApp/base.html' %}

{% block title %}
    Редактировать сервис
{% endblock %}

{% block content %}
    <div class="form_create text">
        {% if messages %}
            {% for message in messages %}
                <h4 style="color: green">{{ message }}</h4>
            {% endfor %}
        {% endif %}
        <h1>Редактировать сервис </h1>
        <form method="post" class="form" enctype="multipart/form-data" id="form_update">
            {% csrf_token %}
            {{ form.ServiceName }}
            <!-- for="testData1" чтобы небыло ошибки в коде -->
            <label for="id_ServiceFile" class="add_file_bottom" id="save_file" style="">Вабрать картинку</label>
            {{ form.ServiceFile }}
            <button type="submit" class="button">Редактировать</button>

        </form>
        <div class="form">
            <button onclick="select_file()" class="add_file_bottom">Предпросмотр</button>
        </div>
        <div class="category">
            <div class="image animate__animated animate__flipInX" id="div_rotate" style="opacity: 1">
                <a href="#" class="image_a">
                    <img src="" alt="Картинка" id="id_image">
                    <p class="card_text" id="service_name">Название сервиса</p>
                </a>
            </div>
        </div>
        <form action="delete" method="POST" class="form">
                {% csrf_token %}
                <button type="submit" class="button_delete">Удалить сервис</button>
        </form>
    </div>

    <script>
        "use strict";

        // уборка лишнего текста из формы
        let form = document.querySelectorAll(".form")
        form[0].childNodes[8].nodeValue = ''
        form[0].childNodes[11].nodeValue = ''
        form[0].childNodes[9].innerHTML = ''

        function select_file() {
            let form = document.querySelectorAll("#id_ServiceFile")
            if (form[0].files[0] === undefined) {
                console.log('картинка не выбрана')
            } else {
                let file_name = form[0].files[0].name;
                let img = document.getElementsByTagName('img')
                img[0].attributes.src.nodeValue = '/ServiceApp/static/image/' + file_name;

                let name_service = document.querySelectorAll("#id_ServiceName")
                let name_service2 = document.querySelectorAll("#service_name")
                name_service2[0].innerHTML = name_service[0].value

                let div_rotate = document.querySelector('div[id="div_rotate"]')
                if (div_rotate.className === 'image animate__animated animate__flipInX') {
                    div_rotate.className = 'image animate__animated animate__flipInY'
                } else {
                    div_rotate.className = 'image animate__animated animate__flipInX'
                }
            }
        }

        let img_src = document.querySelectorAll('img[id="id_image"]')
        let a = document.querySelectorAll('a')
        img_src[0].attributes[0].nodeValue = a[6].attributes.href.nodeValue

        let div_rotate = document.querySelector('div[id="div_rotate"]')
        div_rotate.addEventListener("click", function () {
            if (div_rotate.className === 'image animate__animated animate__flipInX') {
                div_rotate.className = 'image animate__animated animate__flipInY'
            } else {
                div_rotate.className = 'image animate__animated animate__flipInX'
            }
        })
    </script>

{% endblock %}